// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav{
  background-color:#ff1744
}

body{
  background-color:#64b5f6;
  margin: 10px !important;


}
div{
  margin: 10px !important;

}

.form{
  // border: 1px solid green;
  max-width: 100px;
  margin-left: 0px !important;
}


h2{
  color:#e65100
}

footer{
  color:#e65100;
  // position: fixed;
  width:100%;
  // margin-bottom: 2px;
  margin-bottom: 0 !important;
  
}

img{
  max-width: 150px;
  // max-height: 100px;
}

.jumbotron {
  text-align: center;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.imagen{
  text-align: center;
  margin: 0 auto;
}

.credit{
  max-width: 200px;
}
