// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .container{
//   background-color: #fff9c4;
// }

.form{
  max-width: 100px;
  margin-left: 0px !important;
}


h2{
  color:#e65100
}



.jumbotron {
  text-align: center;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}



.credit{
  max-width: 200px;
}

#avatar{
  float: right;
}

#avatar img{
  max-width: 50px;
}

#logo img{
  max-width: 300px;
  // align-self:center !important;
}

#logo{
  text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
  }
