// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav{
  background-color:#ff1744
}

body{
  background-color:#64b5f6;



}
div{
  margin: 10px !important;

}


h2{
  color:#e65100
}

footer{
  color:#e65100;
  position: fixed;
  width:100%;
  // margin-bottom: 2px;
  bottom: 5px;
}

img{
  max-width: 150px;
  // max-height: 100px;
}
