
<h1>Amazing Products in stock</h1>



<div class="">

  <ul>

    <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product.id) %>
    </li>
    <% end %>
  </ul>
</div>
